<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740710790332-5hkhjhh82p8du5648vuanp79a5jtgfi1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740710790332-5hkhjhh82p8du5648vuanp79a5jtgfi1</string>
	<key>API_KEY</key>
	<string>AIzaSyCfzQz6ChRggssXu3cQtBRLB8Np6_5F5i4</string>
	<key>GCM_SENDER_ID</key>
	<string>740710790332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecomUser</string>
	<key>PROJECT_ID</key>
	<string>ecomproject-81314</string>
	<key>STORAGE_BUCKET</key>
	<string>ecomproject-81314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740710790332:ios:a28d17bc337dfad84c0cb9</string>
</dict>
</plist>